@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "~normalize.css";

@import "./components/header.scss";
@import "./components/toolbar.scss";
@import "./components/formula.scss";
@import "./components/table.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.exel {
    position: relative;
    color: #888;
}
